<?xml version="1.0"?>
<launch>

  <remap from="simulator/path_topic" to="highlighter/path_topic" />
  <remap from="simple_marker/path_topic" to="highlighter/path_topic" />
  <remap from="highlighter/SimPos_topic" to="simulator/SimPos_topic" />
  <remap from="simple_marker/SimPos_topic" to="simulator/SimPos_topic" />

  <remap from="nodevisualizer/send_map" to="mapmaker/send_map" />
  <remap from="simulator/send_map" to="mapmaker/send_map" />
  <remap from="highlighter/send_map" to="mapmaker/send_map" />

  <node name="mapmaker" pkg="map_maker" type="mapmaker.py"/>
  <node name="simple_marker" pkg="map_maker" type="nodevisualizer.py" />
  <node name="simulator" pkg="map_maker" type="simulator.py" />
  <node name="highlighter" pkg="map_maker" type="highlighter.py" />


  <!-- run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_maker)/launch/duckietown.rviz" required="true" />

</launch>