<?xml version="1.0"?>
<launch>
  <arg name="cf_num" default="7"/>
  <arg name="map" default="duckytown_map" />
  <arg name='buildings' default='True' />

  <remap from="simple_marker/SimPos_topic" to="simulator/SimPos_topic" />

  <node name="foo" pkg="map_maker" type="make_rviz.sh" args="$(find map_maker) $(arg cf_num) $(arg map) $(arg buildings)"/>
  <node name="mapmaker" pkg="map_maker" type="mapmaker.py">
    <param name="map_road_ratio" value=".5"/>
    <param name="map_tile_size" value=".5"/>
    <param name="map_interface_height" value=".75"/>
    <param name="map_cloud_height" value="1.25"/>
    <param name="map_num_cloud_layers" value="1"/>
    <param name="map_cloud_layer_dist" value="2"/>
    <param name="map_cloud_density" value="2"/>
    <param name="helipad_height" value="0"/>
    <rosparam command="load" file="$(find map_maker)/config/$(arg map).yaml" />
  </node>
  <node name="complex_map" pkg="map_maker" type="complex_map.py">
    <param name="ideal_way_point_d" value=".15"/>
  </node>
  <node name="simple_marker" pkg="map_maker" type="nodevisualizer.py">
    <param name="tilethickness" value=".05"/>
    <param name="roadthickness" value=".025"/>
    <param name="parking_frac" value=".7"/>
    <param name="air_node_display" value="False"/>
    <param name="waypoint_node_display" value="False"/>
    <param name="buildings" value="$(arg buildings)"/>
    <param name="display_frequency" value="4"/>
  </node>
  <node name="simulator" pkg="map_maker" type="simulator.py">
    <param name="delay" value=".01"/>
  </node>

  <param name="robot_description" command="$(find xacro)/xacro '$(find map_maker)/urdf/crazyflie2.urdf.xacro'"/>

  <param name="house1_description" command="$(find xacro)/xacro '$(find map_maker)/urdf/house1.urdf.xacro'"/>  
  <param name="house2_description" command="$(find xacro)/xacro '$(find map_maker)/urdf/house2.urdf.xacro'"/>  
  <param name="house3_description" command="$(find xacro)/xacro '$(find map_maker)/urdf/house3.urdf.xacro'"/>
  <param name="house4_description" command="$(find xacro)/xacro '$(find map_maker)/urdf/house4.urdf.xacro'"/>
  <param name="house5_description" command="$(find xacro)/xacro '$(find map_maker)/urdf/house5.urdf.xacro'"/>

  <!-- run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_maker)/launch/duckietown.rviz" required="true"/>

</launch>
