<?xml version="1.0"?>
<launch>

  <arg name="cf_num" default="1" />
  <arg name="z_coefficient" default="4"/>
  <arg name="continuous" default="True" />
  <arg name="air_vel" default=".5" />
  <arg name="land_vel" default=".25" />

  <remap from="easy_sg/StartingID_topic" to="setup/StartingID_topic" />
  <remap from="si_planner/Starter" to="setup/Starter" />

  <node name="si_planner" pkg="planner" type="si_planner.py">
  	<param name="cf_num" value="$(arg cf_num)"/>
  	<param name="z_coefficient" value="$(arg z_coefficient)" />
  	<param name="continuous" value="$(arg continuous)" />
  	<param name="land_vel" value="$(arg land_vel)" />
  	<param name="air_vel" value="$(arg air_vel)" />
    <param name="air_buffer_dist" value=".5" />
  </node>

  <node name="easy_sg" pkg="planner" type="easy_sg.py"/>

  <node name="setup" pkg="planner" type="setup.py" output="screen">
    <param name="cf_num" value="$(arg cf_num)" />
    <param name="centered" value="True" />
  </node>

</launch>

